</body>
           <!-- Footer -->

            <footer id="footer_1">
                <hr style="height:4px;border-width:2px; color:black">
                  <div class="row">

                    <div class="col-lg-6">
                          <h2>Start managing at a single Click!</h2>
                          <button type="button" class="btn btn-warning btn-lg download-btn" data-toggle="modal" data-target="#exampleModalCenter">Start Free trial</button>
                    </div>
                    <div class="col-lg-3 footer_1-blocks">
                          <h4 class="footer_1-header">How to</h4>
                          <p class="footer_1-item">Use the app</p>
                          <p class="footer_1-item">Use the extension</p>
                    </div>
                    <div class="col-lg-3 ">
                          <h4 class="footer_1-header">Product</h4>
                          <p class="footer_1-item">Desktop Application</p>
                          <p class="footer_1-item">Browser Extension</p>
                    </div>

                  </div>
            </footer>

            <footer id="footer_2">
                <div class="container-fluid">
                    <a href="https://www.twitter.com/explore"><i class="fab foot margin-icon fa-twitter "></i></a>
                    <a href="https://www.facebook.com"><i class="fab foot margin-icon fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com"><i class="fab foot margin-icon fa-instagram"></i></a>
                    <a href="https://www.envelopes.com"><i class="fab foot margin-icon fa-envelope"></i></a>
                    <p>© Copyright 2020 Stocks&Inventory</p>

                </div>

            </footer>



</html>
