<%- include('header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-archive fa-6x" style="color:#1b6ca8;"></i>
    <h1 class="display-3" style="color:#1b6ca8;">Stocks&Inventory</h1>
    <p class="lead">Manage all your stocks</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button" >Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button"style="background-color: #1b6ca8;">Login</a>

  </div>
</div>

<%- include('footer') %>
